/* # Definitions */

/* ## Colors */

:root {
    --struct-main-color: #13294B !important;
    --struct-alt-color: #274997 !important;
    --text-standard-color: #595959;
    --text-strong-color: #222222;
}

/* ## Fonts */

:root {
    --serif-font: "Crimson Pro", serif;
    --sans-font: "Raleway", sans-serif;
    --mono-font: "Ubuntu Mono", monospace;
}

/* # General text */

/* ## General text > Text formats */

body {
    background-color: white;
    padding: 0px;
    font-family: var(--serif-font);
    font-size: 18.0px;
    line-height: 1.5;
    color: var(--text-standard-color);
    font-weight: 200;
    margin: 0;
}

strong {
    color: var(--text-strong-color);
    font-weight: 500;
}

small {
    font-size: 14px;
}

email {
    font-size: 16px;
    font-family: var(--mono-font);
}

/* ## General text > Links */

a {
    color: var(--link-idle-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

.social-icon {
    display: inline-block;
    background-color: transparent;
    color: var(--struct-main-color);
    font-size: 1.15rem;
    margin-right: 0.2rem;
}

.social-icon a:hover {
    background-color: transparent;
    color: var(--struct-main-color);
    transform: scale(1.2);
}

a.btn {
    -webkit-font-smoothing: subpixel-antialiased;
    color: var(--struct-main-color);
    border: 1px solid var(--struct-main-color);
    padding: 0.2rem 0.5rem 0.2rem;
    margin: 0 0.2rem 0;
    font-size: 75%;
    font-weight: 500;
}

a.btn:hover {
    -webkit-font-smoothing: subpixel-antialiased;
    color: #255194;
    border-color: #255194;
}

a.btn-big {
    -webkit-font-smoothing: subpixel-antialiased;
    color: white;
    background-color: var(--block-title);
    border: none;
    padding: 0.3rem 0.8rem 0.5rem;
    margin: 0;
    border-radius: 0.4rem;
    font-size: 100%;
    font-weight: 550;
}

a.btn-big:hover {
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: var(--link-idle-color);
}



/* ## General text > Headings */

h1 {
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 180%;
    font-weight: 500;
    color: var(--struct-main-color);
    margin: 5rem 0 1rem;
    line-height: 1.1;
}

h2 {
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 150%;
    font-weight: 500;
    color: var(--struct-main-color);
    margin: 2rem 0px 0.75rem;
    line-height: 1.1;
}

h3 {
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 125%;
    font-weight: 500;
    color: var(--struct-main-color);
    margin: 1rem 0 0.5rem;
    line-height: 1.1;
}

h4 {
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 110%;
    font-weight: 500;
    color: var(--struct-main-color);
    margin: 1.5rem 0 0.5rem;
    line-height: 1.1;
}

/* ## General text > Typesetting */

p, ul, ol, table, pre, dl {
    margin: 0.5rem 0 0.5rem;
    text-align: justify;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

dt {
    color: #444;
    font-weight: 500;
}

th {
    color: #444;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

img {
    max-width: 100%;
}

.summary {
    margin: 0 0 1rem;
    font-family: var(--sans-font);
    font-size: 16.0px;
    line-height: 1.7;
    font-weight: 500;
    text-align: justify;
}

.summary strong {
    font-weight: 600;
}

.notice {
    margin: 0.5rem 0 1rem;
    padding: 1rem 1rem 1rem;
    color: var(--block-text);
    background: var(--block-color);
    border-radius: 1rem;
    font-weight: 300;
}

.notice strong {
    color: var(--block-title);
}

.notice headline {
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 150%;
    font-weight: 500;
    color: var(--block-title);
    margin: 0.5rem 0px 0.75rem;
    display: block;
    line-height: 1.1;
}

.button-row {
    margin: 0.8rem 0 0.5rem 0;
    width: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}

/* # Page geometry */

.wrapper {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

.sidebar {
    max-width: var(--header-max-width);
    width: var(--header-width);
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
    padding-top: 5.5em;
    text-align: center;
}

.contents {
    max-width: var(--section-max-width);
    width: var(--section-width);
    float: right;
    padding-top: 1.2em;
    padding-bottom: 50px;
}

.footer {
    margin: 3rem 0 0;
    font-size: 90%;
    line-height: 1.3;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: left;
}

/* # Navigation bar */

.navigation {
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: var(--navigation-bar-color);
    overflow: hidden;
	position: fixed;
	z-index: 999;
    width: 100%;
    display: inline;
}

.navigation a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 9px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 0;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.navigation > flush {
    float: right;
    color: transparent;
    padding: 1px;
    text-decoration: none;
    margin: 0;
    margin-right: 3rem;
}

/* # Sidebar */

/* ## Avatar sidebar > Profile picture */

.avatar-pfp {
    border-radius: 0.35em;
    border: 0;
    display: inline-block;
    position: relative;
}

.avatar-pfp:before {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    border-radius: 0.35em;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}

.avatar-pfp img {
    border-radius: 100%;
    width: 45%;
    padding: 20px;
}

/* ## Avatar sidebar > Project logo */

.project-logo {
    border: 0;
    display: inline-block;
    position: relative;
}

.project-logo:before {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}

.project-logo img {
    width: 60%;
    padding: 20px;
}

/* ## Sidebar > Data sections */

.sidebar a {
    color: unset;
}

.sidebar a:hover {
    color: unset;
}

.sidebar > .title {
    font-size: 180%;
    font-weight: 500;
    color: var(--struct-main-color);
    margin: 0.5rem 0 1.5rem;
    line-height: 1.1;
}

.sidebar > .subtitle-short {
    font-family: var(--serif-font);
    font-size: 125%;
    font-weight: 500;
    color: var(--struct-alt-color);
    margin: 0.5rem 0 3rem;
    line-height: 1.1;
}

.sidebar > .subtitle-long {
    font-family: var(--sans-font);
    font-size: 19px;
    font-weight: 600;
    color: var(--struct-alt-color);
    margin: 0.5rem 0 3rem;
    line-height: 1.2;
}

.sidebar > .institution {
    font-size: 120%;
    font-weight: 500;
    color: var(--struct-main-color);
    margin: 3rem 0 0.5rem;
    line-height: 1.1;
}

.sidebar > .department {
    font-size: 120%;
    font-weight: 500;
    color: var(--struct-alt-color);
    margin: 0.3rem 0 0.5rem;
    line-height: 1.1;
}

.sidebar > .email {
    font-size: 18px;
    font-family: var(--mono-font);
    font-weight: 300;
    color: var(--text-standard-color);
    margin: 0.8rem 0 0.5rem;
    line-height: 1.1;
}

/* ## Avatar sidebar > Social networks */

.social-networks {
    font-size: 1.6rem;
    margin: 3.5rem 0 0;
}

.social-networks a {
    display: inline-block;
    border-radius: 100%;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.5rem;
    margin: 0 0.5rem 0;
    background-color: transparent;
    color: var(--struct-main-color);
}

.social-networks a:last-child {
    margin-right: 0;
}

.social-networks a:hover {
    background-color: transparent;
    color: var(--struct-main-color);
    transform: scale(1.2);
}

/* # Tabulation styles */

/* ## Tabulation styles > Teaching */

ol.teaching {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

ol.teaching > li {
    color: var(--struct-main-color);
    font-weight: 500;
    margin: 2rem 0px 1rem;
    font-size: 130%;
    line-height: 1.1;
}

ol.teaching ul.semester {
    list-style: none;
    padding: 0;
    margin: 0 1rem 0;
}

ol.teaching ul.semester > li {
    margin: 0.8rem 0px 0.2rem;
}

semester {
    color: var(--struct-main-color);
    font-weight: 500;
    margin: 40px 0px 15px;
    font-size: 157%;
    line-height: 1.1;
}

.course {
    margin: 10px 15px 0px;
}


/* ## Tabulation styles > Publications */

ol.publications {
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.publications > li {
    margin: 1.5rem 1rem 1rem;
}

ol.publications > li > .header {
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    font-weight: 550;
}

ol.publications > li > .header > nametitle {
    color: var(--link-idle-color)
}

ol.publications > li > .authors {
    margin: 0;
}


ol.publications > li > .venue {
    margin: 0;
    font-style: italic;
}

ol.publications > li > .venue > a {
    margin: 0;
    color: var(--text-color);
}

ol.publications > li > .award {
    margin: 0;
    color: #b51261;
    font-weight: 600;
}

ol.publications > li > .links {
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0.1rem 0 0;
}

/* ol.publications > li > .links a.btn {
    color: var(--struct-main-color);
    border: 1px solid var(--struct-main-color);
    padding: 0.2rem 0.5rem 0.2rem;
    margin: 0 0.2rem 0;
    font-size: 75%;
    font-weight: 500;
}

ol.publications > li > .links a.btn:hover {
    color: #255194;
    border-color: #255194;
} */

/* ## Tabulation styles > Jobs */

ol.jobs {
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.jobs > li {
    margin: 1.5rem 1rem 1rem;
}

ol.jobs > li > .header {
    margin: 0;
    font-weight: 550;
}

ol.jobs > li > .description {
    margin: 0;
    font-weight: 500;
}

/* ## Tabulation styles > Dot list */

ul.dotlist {
    list-style: outside;
    padding: 0;
    margin: 0 0 1rem 1.5rem;
}

ul.dotlist > li {
    margin: 0.3rem 0 0.3rem 1rem;
}

ul.dotlist > li::marker {
    color: var(--struct-main-color);
}










html {
    scroll-behavior: smooth;
}

lightonly { visibility: visible; }

darkonly { visibility: hidden; }

education { font-weight: 500; font-size: 115%; }

papertitle { font-weight: 600; font-size: 100%; }

/* @media print, screen and (max-width: 960px) {
    .pub-row {
        display: flex;
        align-items: center;
    }
    
    div.wrapper {
        width: auto;
        margin: 0;
    }
    
    header, section, footer {
        float: none;
        position: static;
        width: auto;
    }
    
    header {
        padding-top: 80px;
    }
    
    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }
    
    header a small {
        display: inline;
    }
    
    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }
    
    .image.avatar img {
        border-radius: 100%;
        width: 117px;
        padding: 20px 20px 20px 20px;
    }
    
    section {
        padding:20px 20px
    }
    
    body {
        word-wrap: break-word;
        padding: 0px;
    }
    
    .pub-row {
        display: flex;
        align-items: center;
    }
    
    pre, code {
        word-wrap: normal;
    }
}

@media print, screen and (max-width: 480px) {
    .pub-row {
        display: block;
        align-items: center;
    }
    
    body {
        padding: 0px;
    }
    
    header ul {
        width: 99%;
    }
    
    header li, header ul li + li + li {
        width: 33%;
    }
    
    .image.avatar img {
        border-radius: 100%;
        width: 95px;
        padding: 20px;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
} */


/* code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    color: #333;
}

pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    max-width: 500px;
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
} */